.starFilled {
    background-image: url('../../Icons/star-filled.png');
    background-size: 30px 30px;
    min-width: 30px;
    min-height: 30px;
    display: inline-block;
    cursor: pointer;
}

.starEmpty {
    background-image: url('../../Icons/star-empty.png');
    background-size: 30px 30px;
    min-width: 30px;
    min-height: 30px;
    display: inline-block;
    cursor: pointer;
}
